body {
    background-color:lightcyan;
    margin: 0;
}

/* Targeting a class in CSS - every elment with the class of header will recieve these CSS rules */
.header {
    background-color: lightcoral;
    
}

a  {
        color: white;
        text-decoration: none;
       }

.headerRight {
    float: right; 
}

.headerLeft {

}

h1{
    text-align: center;
    
    border-style:dotted;
    border-color:lightcoral; 
    
}

  
  a:visited {
    background-color: lightcoral;
  }
  
  a:hover {
    background-color: grey;
  }

  
 